
nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

nav ul li a:hover{
    color: #1CB698;
}

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: auto;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 5px;
    }
}