.col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.col input, .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb62b;
    z-index: -1;
    transition: 1s;
}
.button:hover .overlay{
    width: 100%;
}

@media screen and (max-width:700px){
    .col{
        width: 88%;
    }
}